@font-face
{
    font-family: "Market Deco";
    src: url("Fonts/Market_Deco.ttf");
}
@font-face {
    font-family: "the grim raiders";
    src: url("Fonts/TheGrimRaiders-Regular.ttf");
}
body{
    background-image: url("Images/tiles.jpg");
    font-family: "Market Deco", sans-serif;
}
#title{
    border-radius: 8px;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 15px;
    background: radial-gradient(rgba(77, 77, 77, 1), rgba(104, 104, 104, 0));
}
h1{
    padding-top: .4em;
    text-align: center;
    color: rgb(140, 0, 0);
    font-family: "the grim raiders", "Helvetica Neue", Helvetica, Arial, serif;
    font-size: 5em;
}
#container{
    text-align: center;
}
.btn{
    margin-top: 10px;
}
#hideme1{
    display: none;
}
#hideme2{
    display: none;
}
.shadow{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(rgba(105, 105, 105, 1), rgba(185, 185, 185, 0));
    padding: 0 40px;
}
.shadow h3{
    text-decoration: underline;
}
.shadow p{
    font-size: 18px;
}

.btn-danger {
    display: block;
    width: 150px;
    margin: 8px auto;
    color: #7e7e7e;
}
.btn-default{
    font-family: "the grim raiders", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(140, 0, 0);
    background-color: #3c3c3c;
}
.submit{
    font-size: 2em;
    font-weight: bold;
    border: 4px solid rgb(140,0,0);
}
.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.dark{
    background-color: #3c3c3c;
    margin-top: 2px;
    border: 0px;
    text-align: center;
}
.back{
    height: 250px;
    width:100%;
    background-color: rgb(140,0,0);
    border-radius: 8px;
    border: 8px double #3c3c3c;
    text-align: center;
}
.back table{
    margin: 0 auto;
}
table{
    border-spacing: 25px;
    border: 2px solid #3c3c3c;
    padding: 26px;
    margin: auto 10px;
    font-size: 2em;


}
th{
    font-style: italic;
    text-align: center;
}
.middle{
    background: radial-gradient(rgba(105, 105, 105, 1), rgba(185, 185, 185, 0));
    border-radius: 8px;
}
.killskey{
    margin-top:40px;
    width: 160px;
    font-size:1.2em;
    text-shadow: 1px 1px #000000;
}
.key{
    position: absolute;
    margin:0 auto;
    width: 100%;
}
.submit2{
    margin-top:40px;
}
.big:hover{
    font-size:16px;
}