body{
    background-image: url("Images/tiles.jpg");
}
#title{
    border-radius: 8px;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 15px;
    background: radial-gradient(rgba(77, 77, 77, 1), rgba(104, 104, 104, 0));
}
#title h1{
    padding-top: .4em;
    text-align: center;
    color: rgb(140, 0, 0);
    font-family: "the grim raiders";
    font-size: 5em;
}
#container{
    text-align: center;
}
.btn{
    margin-top: 10px;
}
#hideme1{
    display: none;
}
#hideme2{
    display: none;
}
.shadow{
    height: 400px;
    width: 100%;
    border-radius: 20px;
    background: radial-gradient(rgba(105, 105, 105, 1), rgba(185, 185, 185, 0));
    font-family: "Market Deco";
}
.shadow h3{
    text-decoration: underline;
}

.btn-danger {
    display: block;
    width: 150px;
    margin: 8px auto;
}
.btn-default{
    font-family: "the grim raiders";
    color: rgb(140, 0, 0);
    background-color: #3c3c3c;
}
.submit{
    font-size: 2em;
    font-weight: bold;
    border-radius: 24px;
    border: 4px solid rgb(140,0,0);
}
.dark{
    background-color: #3c3c3c;
    margin-top: 2px;
    border: 0px;
    text-align: center;
}