body{
    background-image: url("Images/tiles.jpg");
}
#title{
    border-radius: 4px;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 15px;
    background: radial-gradient(rgb(77, 77, 77), rgba(104, 104, 104, 0.04));
}
#title h1{
    padding-top: .4em;
    text-align: center;
    color: rgb(140, 0, 0);
    font-family: "the grim raiders";
    font-size: 5em;
}
#container{
    text-align: center;
}
.btn{
    margin-top: 10px;
}
